body {
    background: rgb(85, 144, 189);
    background: linear-gradient(
      90deg,
      rgb(85, 189, 90) 0%,
      rgb(108, 240, 196) 54%,
      rgb(182, 242, 219) 82%
    );
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .imagen {
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
  }
  .card:hover {
    -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  .card {
    border-radius: 1.5rem !important;
    border: 0px !important;
    background: linear-gradient(
      45deg,
      rgb(234, 245, 235) 0%,
      rgb(184, 244, 211) 54%,
      rgb(196, 242, 213) 82%
    );
  }

  .status {
    display: flex;
    align-items: center;
  }

  .status_icon_alive {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(85, 204, 68);
    border-radius: 50%;
  }

  .status_icon_dead {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(240, 55, 34);
    border-radius: 50%;
  }

  .status_icon_unkown {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(63, 63, 63);
    border-radius: 50%;
  }

  .modal-content {
    background: linear-gradient(
      45deg,
      rgb(234, 245, 235) 0%,
      rgb(184, 244, 211) 54%,
      rgb(196, 242, 213) 82%
    );
  }

  .name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
  }
 
  .stat-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    text-transform: capitalize;
}

.tipo-container {
    text-align: left;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.modal-body {
  display: flex;
  justify-content: space-around;
}

.modal-title {
  font-weight: 700;
  text-transform: capitalize;
}